<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{% block title %} {% endblock %}</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicon -->

    <link
      href="{{url_for('static', filename = 'img/favicon.jpg')}}"
      rel="icon"
    />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link
      href="{{url_for('static', filename = 'vendor/aos/aos.css')}}"
      rel="stylesheet"
    />
    <link
      href="{{url_for('static', filename = 'vendor/bootstrap/css/bootstrap.min.css')}}"
      rel="stylesheet"
    />
    <link
      href="{{url_for('static', filename = 'vendor/bootstrap-icons/bootstrap-icons.css')}}"
      rel="stylesheet"
    />
    <link
      href="{{url_for('static', filename = 'vendor/boxicons/css/boxicons.min.css')}}"
      rel="stylesheet"
    />
    <link
      href="{{url_for('static', filename = 'vendor/glightbox/css/glightbox.min.css')}}"
      rel="stylesheet"
    />
    <link
      href="{{url_for('static', filename = 'vendor/swiper/swiper-bundle.min.css')}}"
      rel="stylesheet"
    />

    <!-- Template Main CSS File -->
    <link
      rel="stylesheet"
      href="{{url_for('static', filename = 'css/main.css')}}"
    />
  </head>

  <body>
    <!-- ======= Top Bar ======= -->
    <section id="topbar" class="d-flex align-items-center">
      <div
        class="container d-flex justify-content-center justify-content-md-between"
      >
        <div class="contact-info d-flex align-items-center">
          <i class="bi bi-envelope-fill"></i
          ><a href="mailto:contact@example.com">dhirenwinz@gmail.com</a>
          <i class="bi bi-phone-fill phone-icon"></i> +91 9100853699
        </div>
      </div>
    </section>

    <!-- ======= Header ======= -->
    <header id="header" class="d-flex align-items-center">
      <div class="container d-flex align-items-center justify-content-between">
        <h1 class="logo"><a href="/">BeatDrum</a></h1>
        <nav id="navbar" class="navbar">
          <ul>
            <li><a class="nav-link scrollto" href="/">Home</a></li>
            <li>
              <a class="nav-link scrollto" href="{{url_for('login')}}">Login</a>
            </li>
            <li>
              <a class="nav-link scrollto" href="{{url_for('register')}}"
                >Register</a
              >
            </li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <!-- .navbar -->
      </div>
    </header>
    <!-- End Header -->

    <!-- ======= Home Section ======= -->

    {% block body %} {% endblock %}

    <!-- ======= End Home Section ======= -->

    <!-- ======= Footer ======= -->
    <footer id="footer">
      <div class="footer-top"></div>

      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>BeatDrum</span></strong
          >. All Rights Reserved
        </div>
        <div class="credits">
          Designed by
          <a href="https://github.com/Dhirenwinz/">Dhiren Tripuramallu</a>
        </div>
      </div>
    </footer>
    <!-- End Footer -->

    <!-- Preloader -->
    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>
    <div id="preloader"></div>

    <!-- Vendor JS Files -->

    <script src="{{ url_for('static', filename='vendor/aos/aos.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/glightbox/js/glightbox.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/php-email-form/validate.js') }}"></script>

    <!-- Template Main JS File -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>
